# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Projetos.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\felip\Documents\Projetos\Projetos\.idea\.idea.Projetos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
